*,
*::before,
*::after {
  box-sizing: inherit;
}

  html {
  box-sizing: border-box;
  background: url(../img/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
  width: 100%;
  margin: 0 auto;
}

/*contains Nav, Header, Big, Pfont, P*/

#Main {
  width: 73.5vw;
  height: 100vh;
  margin: auto;
  padding: auto;
  float: left;
  background-color: #D5CDFB;
  border-style: solid;
  border-width: thin;
  border-color: #744054;
}

/*above is container for Nav, Header, Big, Pfont, P*/

#Nav ul {
  list-style-type: none;
  background-color: #9D929D;
  font:16px 'bonvenocflight', normal;
  font-weight: bold;
}

#Nav li {
  margin: auto 0 auto 9vw;
  padding: 0 2em 0 2em;
  display: inline;
  text-align: center;
}

#Header {
  position: absolute;
  height: 20vh;
  width: 30vw;
  margin: 2vh 0 0 20vw;
  border-radius: 10px;
  padding: 0em 1em 1em 3em;
  text-align: center;
  font:1em 'lemonchickenregular', normal;
  color: #FFFFFF;
  text-shadow: 1px 1px #000;
  border: thin solid #FFFFFF;
  background-color: #9D929D;
  -webkit-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
-moz-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
}

.big {
  color: #7A8B9F;
  text-shadow: 1px 1px #000;
  font-size: 2em;
}

#Pfont {
  padding: 0em 1em 0em 1em;
  margin-top: 16em;
  font:18px 'bonvenocflight', normal;
  text-align: center;
  font-weight: bold;

}

/*Contains box 1 and 2*/

.BoxContiner {
 float: left;
 background-color: #E18728;
}

/*Above containd box 1, p, and 2, img, circular, caption*/

.box {
  width: 24vw;
  height: 49vh;
  padding: 1em;

}

#Box1 {
  float: none;
  background-color: #9D929D;
  opacity: .9;
  margin: 0em 0em 1em 75%;
  font:16px 'bonvenocflight', normal;
  border-style: solid;
  border-width: thin;
  border-color: #744054;
}

#Box1 p {
  padding: 4em .5em 1em .5em;
  text-align: center;
  font-weight: bold;
}

#Box2 {
  float: none;
  background-color: #744054;
  opacity: .9;
  margin: 1em 0em 0em 75%;
  border-style: solid;
  border-color: #964D81;
  border-width: thin;
}

#Box2 img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.circular {
  position: relative;
	width: 200px;
	height: 200px;
  margin-left: 3.75em;
  margin-top: 2em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	background: url(../img/myface.jpg) no-repeat;
	}

#Caption {
  position: absolute;
  font:16px 'bonvenocflight', normal;
  font-weight: bold;
  margin: 15px 0px 20px 100px;
  }

  /***************************************FIRST MEDIA DIVIDE 1299px*****************************/

@media only screen and (max-width:1299px)
  {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
  box-sizing: border-box;
  background: url(../img/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


  body {
    width: 100%;
    margin: 0 auto;
  }


  #Main {
    width: 100vw;
    height: 48.5vh;
    margin: 0 0 1em 0;
    padding: auto;
    float: none;
    background-color: #D5CDFB;
  }

  #Nav ul {

    list-style-type: none;
    font:16px 'bonvenocflight', normal;
    border-style: inset;
    border-width: thin;
  }

  #Nav li {
    margin: auto 0 auto 9em;
    padding: 2em;
  }

  #Header {
    position: absolute;
    height: 20vh;
    width: 35vw;
    margin: 8vh 0 0 30vw;
    border-radius: 10px;
    padding: 0em 1em 1em 1em;
    text-align: center;
    font:1em 'lemonchickenregular', normal;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
    border: thin solid #FFFFFF;
    background-color: #9D929D;
    -webkit-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  -moz-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  }

  .big {
    color: #7A8B9F;
    text-shadow: 1px 1px #000;
    font-size: 2em;
  }

  #Pfont {
    font:20px 'bonvenocflight', normal;
    text-align: center;
    border-style: inset;
    border-width: thin;
    background-color: #D5CDFB;

  }

  .BoxContiner {
    height: 48.5vh;
    width: 100vw;
    background-color: #E18728;
    display: inline-block;
  }

  .box {
    width: 48.5vw;
    height: 40vh;
    padding: 1em;
    display: inline-block;
  }

  #Box1 {
    float: left;
    margin: 50vh 1em 0 0;
    padding: 2em;
    background-color: #9D929D;
    font:16px 'bonvenocflight', normal;
  }

  #Box2 {
    float: right;
    margin: 50vh 0 0 1em;
    padding: 2em;
    background-color: #744054;
  }


.circular {
  position: relative;
	width: 200px;
	height: 200px;
  margin-left: 8em;
  margin-top: 0em;
  margin-bottom: 1em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	background: url(../img/myface.jpg) no-repeat;
	}

#Caption {
  position: absolute;
  font:16px 'bonvenocflight', normal;
  margin: 0em 0px 2em 10em;
  padding: 0em 0em 2em oem;
  }
}

/*********************SECOND MEDIA DIVIDE 1099px******************************************/

@media only screen and (max-width:1099px)
  {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
  box-sizing: border-box;
  background: url(../img/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


  body {
    width: 100%;
    margin: 0 auto;
  }


  #Main {
    width: 100vw;
    height: 48.5vh;
    margin: 0 0 1em 0;
    padding: auto;
    float: none;
    background-color: #D5CDFB;
  }

  #Nav ul {

    list-style-type: none;
    font:16px 'bonvenocflight', normal;
    border-style: inset;
    border-width: thin;
  }

  #Nav li {
    margin: auto 0 auto 9em;
    padding: 2em;
  }

  #Header {
    position: absolute;
    height: 20vh;
    width: 35vw;
    margin: 8vh 0 0 30vw;
    border-radius: 10px;
    padding: 0em 1em 1em 1em;
    text-align: center;
    font:1em 'lemonchickenregular', normal;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
    border: thin solid #FFFFFF;
    background-color: #9D929D;
    -webkit-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  -moz-box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  box-shadow: 2px 4px 31px -2px rgba(95,95,95,1);
  }

  .big {
    color: #7A8B9F;
    text-shadow: 1px 1px #000;
    font-size: 2em;
  }

  #Pfont {
    font:20px 'bonvenocflight', normal;
    text-align: center;
    border-style: inset;
    border-width: thin;
    background-color: #D5CDFB;

  }

  .BoxContiner {
    height: 45.5vh;
    width: 100vw;
    background-color: #E18728;
    display: inline-block;
  }

  .box {
    height: 40vh;
    width: 48.5vw;
    padding: 1em;
    display: inline-block;
  }

  #Box1 {
    float: left;
    margin: 53vh .5em 0 0;
    padding: 2em;
    background-color: #9D929D;
    font:16px 'bonvenocflight', normal;
  }

  #Box2 {
    float: right;
    margin: 53vh 0 0 .5em;
    padding: 2em;
    background-color: #744054;
  }


.circular {
  position: relative;
	width: 200px;
	height: 200px;
  margin-left: 8em;
  margin-top: 0em;
  margin-bottom: 1em;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
	background: url(../img/myface.jpg) no-repeat;
	}

#Caption {
  position: absolute;
  font:16px 'bonvenocflight', normal;
  margin: 0em 0px 2em 10em;
  padding: 0em 0em 2em oem;
  }
}


/**************************************THIRD MEDIA DIVIDE 999px***************************/

@media only screen and (max-width:999px)
{

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
box-sizing: border-box;
background: url(../img/snow.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}


body {
  width: 100%;
  margin: 0 auto;
}

#Main {
  width: 100%;
  height: 48.5%;
  margin: 0 0 1em 0;
  padding: 1em;
  float: none;
  background-color: #D5CDFB;
}

#Nav ul {
  width: 75vw;
  margin: 0 0 0 10vw;
  list-style-type: none;
  font:16px 'bonvenocflight', normal;
  border-style: inset;
  border-width: thin;
}

#Nav li {
  margin: auto 0 auto 7vw;
  padding: 1em;
}

#Header {
  position: absolute;
  z-index: 1;
  height: 12vh;
  width: 50vw;
  margin: 5vh 0vw 0vh 22vw;
  border-radius: 0px;
  padding: 0em 1em 2em 3em;
  text-align: center;
  font:.75em 'lemonchickenregular', normal;
  color: #FFFFFF;
  text-shadow: 1px 1px #000;
  border: thin solid #FFFFFF;
}

.big {
  color: #7A8B9F;
  text-shadow: 1px 1px #000;
  font-size: 1.5em;
}

#Pfont {
  margin-top: 6em;
  font:20px 'bonvenocflight', normal;
  text-align: center;
  border-style: inset;
  border-width: thin;

}

.BoxContiner {
  clear: both;
  float: none;
  height: 40vh;
  width: 100vw;
  background-color: #E18728;
  display: inline-block;
}

.box {
  width: 100vw;
  height: 38vh;
  padding: 1em;

  /*display: inline-block;*/
}

#Box1 {
  float: none;;
  margin: 0;
  padding: 2em;
  background-color: #9D929D;
  font:16px 'bonvenocflight', normal;
}

#Box2 {
  float: none;
  margin: 3vh 0 0 0;
  padding: 2em;
  background-color: #744054;
}

.circular {
  position: relative;
  width: 200px;
  height: 200px;
  margin-left: 8em;
  margin-top: 0em;
  margin-bottom: .5em;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  background: url(../img/myface.jpg) no-repeat;
}

#Caption {
  position: absolute;
  font:16px 'bonvenocflight', normal;
  margin: 0em 0px 0em 10em;
  }
}

/**************************************FOURTH MEDIA DIVIDE 899px***************************/

@media only screen and (max-width:899px and min-width:399px)
{
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  html {
  box-sizing: border-box;
  background: url(../img/snow.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


  body {
    width: 100%;
    margin: 0 auto;
  }

  #Main {
    width: 100%;
    height: 49%;
    margin: 0 0 2em 0;
    padding: 1em;
    float: none;
    background-color: #D5CDFB;
  }

  #Nav ul {
    float: left;
    list-style-type: none;
    font:16px 'bonvenocflight', normal;
    border-style: inset;
    border-width: thin;
    padding: 2em 0em 2em 0em;
  }

  #Nav li {
    text-align: center;
    margin: auto;
    padding: 1em;
  }

  #Main h2 {
    font:50px 'lemonchickenregular', normal;
    color: #323232;
    text-align: center;
    margin-top: 1.25em;
  }

  h2 {

    font:45px 'lemonchickenregular', normal;
    text-align: center;

  }

  #Pfont {
    font:20px 'bonvenocflight', normal;

  }

  .BoxContiner {
    float: none;
    height: 49%;
    width: 100%;
   background-color: #E18728;
  }

  .box {
    width: 100%;
    height: 22%;
    padding: 1em;
  }

  #Box1 {
    float: none;
    background-color: #9D929D;
    margin-bottom: 2em;
    font:16px 'bonvenocflight', normal;
  }

  #Box1 p {
    text-align: center;
  }

  #Box2 {

    float: none;
    background-color: #744054;
  }

  .circular {
    position: relative;
  	width: 200px;
  	height: 200px;
    margin: 0 auto 2em auto;
    padding: auto;
  	border-radius: 150px;
  	-webkit-border-radius: 150px;
  	-moz-border-radius: 150px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  	-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  	-moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  	background: url(../img/myface.jpg) no-repeat;
  	}

  .circular #Caption {
    position: absolute;
    font:16px 'bonvenocflight', normal;
    text-align: center;


    }

}
